@import: url('https://fonts.googleapis.com/css?family=Karla');

* {
  box-sizing: border-box;
}

body {
  background-color: #2D57A4;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

/*******SECTION***********/

section {
  padding: 1% 5% 5% 5%;
}

.section-title {
  flex: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
}

@media (min-width: 1600px) {
  section {
    padding: 1% 25% 5% 25%;
  }
}

@media (max-width: 400px) {
  .section-title {
    font-size: 2rem;
  }
}

/*******NAVIGATION********/

nav {
  margin: 1rem;
  text-align: center;
}

ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0.7rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

a:hover {
  color: #091834;
}

@media (min-width: 990px) {
  nav li {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  ul {
    margin: 1rem 0;
  }
  li {
    padding: 0.5rem;
  }
}

/*******HEADER********/

header {
  margin: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  header {
    margin: 0;
    padding-bottom: 1rem;
  }
}

/*-----FOOTER-----*/

footer {
  display: flex;
  margin: 1rem;
}

footer i {
  font-size: 20px;
  margin: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
}

.footer-social-media {
  margin: auto;
  text-align: center;
  color: white;
}

footer i:hover {
  background-color: blue;
}

/*-------------------*/
/*-----ANIMATION-----*/
/*-------------------*/

@keyframes fadein {
  from { 
    opacity: 0;
    transform: scale(0.5);
  }
  to   { 
    opacity: 1;
    transform: scale(1);
  }
}

/*------------------*/
/*-----HOME PAGE----*/
/*------------------*/

section#gallery {
  margin: 1rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery-column {
  flex: 15%; 
  padding: 0 3px;
  margin: auto;
}

.gallery-img {
  width: 100%;
  border: 1px solid black;
  filter: grayscale(100%) brightness(105%);
  transition: filter 0.5s;
  animation: fadein 1s;
}

.gallery-img:hover {
  filter: none;
}

@media (max-width: 990px) {
  .gallery-column {
    flex: 33%;
  }
}

@media (max-width: 500px) {
  .gallery-column {
    flex: 50%;
  }
}

/*--------------------*/
/*-----ABOUT PAGE-----*/
/*--------------------*/

#section-about { 
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.post-title {
  margin: 0.2rem 0 1.5rem 0;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
}

@media (max-width: 700px) {
  .post-title {
    font-size: 1.5em;
  }
}

.column-about {
  margin: 0 1rem;
  flex: 40%;
}

.main-img {
  display: block;
  margin-bottom: 1rem;
  max-width: 100%;
  float: right;
}

.small-title {
  color: #2D57A4;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.content {
  color: grey;
  line-height: 2;
}

.photographer {
  margin: 2rem 0;
  display: flex;
}

.photographer-img-section > img {
  border: 5px solid lightgrey;
  border-radius: 50%;
}

.photographer-name-section {
  margin: 0 2rem;
}

.photographer-name {
  margin: 0.5rem 0;
  font-weight: bold;
}

.photographer-job {
  color: grey;
  font-size: 0.9rem;
}

#section-achievements {
  background-color: white;
}

.container {
  padding: 0 5% 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.achievements-column {
  text-align: center;
}

.achievements-column i {
  font-size: 3rem;
}

.achievements-number {
  padding: 0.25rem;
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
}

.achievements-title {
  text-transform: uppercase;
  margin: auto;
}

@media (max-width: 700px) {
  .achievements-column {
    padding: 0.5rem;
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .column-about {
    flex: 100%;
  }
  .photographer {
    margin: 1rem 0;
  }
}

/*-----------------------*/
/*-----TEAM PAGE---------*/
/*-----------------------*/

#section-team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.column-team {
  padding: 0.5em;
}

.column-team img {
  width: 100%;
}

.card {
  position: relative;
  background-size: cover;
  animation: fadein 1s;
}

.card-text {
  bottom: 10px;
  transition: transform 500ms ease-in-out;
}

.line {
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  height: 2px;
  width: 50px;
  bottom: 130px;
}

.card-icons {
  bottom: 80px;
}

.card-icons, .line {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 500ms ease-in-out;
}

.card-icons i {
  font-size: 20px;
  margin: 10px;
  background: orange;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
}

.card-text, .card-icons, .line{
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
}

.card:hover .card-text{
  transform: translate(0, -150px);
}

.card:hover .card-icons {
  opacity: 1;
  transform: rotateX(0);
}

.card:hover .line {
  opacity: 1;
  transform: rotateX(0) translate(0, -20px);
}

/*----------------------*/
/*-----PRICING PAGE-----*/
/*----------------------*/

#section-pricing {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

.column-pricing {
  margin: 0.5rem;
  padding: 2rem;
  flex: 30%;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  animation: fadein 1s;
}

.pricing-plan-title {
  padding: 1rem;
  font-size: 2rem;
  color: grey;
}

.price {
  font-size: 3rem;
  font-weight: bold;
}

.currency {
  vertical-align: super;
  font-size: 1.5rem;
  font-weight: normal;
}

.read-more-button {
  padding: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 5px;
}

.read-more-button:hover {
  background-color: orange;
}

@media (max-width: 990px) {
  .column-pricing {
    flex: 0 0 40%;
  }
}

@media (max-width: 600px) {
  .column-pricing {
    flex: 0 0 70%;
    padding: 0.75rem;
  }
}

/*-----------------*/
/*-----CONTACT-----*/
/*-----------------*/

#section-contact {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.column-contact {
  margin: auto;
  flex: 33%;
}

.contact-icon {
  float: left;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  background-color: grey;
  color: orange;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 20px;
}

#section-contact-details {
  padding: 0;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

#section-contact-details .column-contact {
  padding: 0;
  margin: 0;
  flex: 50%;
}

@media (max-width: 990px) {
  #section-contact {
    padding-left: 10rem;
    padding-right: 10rem; 
  }
  .column-contact {
    flex: 100%;
  }
  #section-contact-details .column-contact {
    flex: 100%;
  }
  #map {
    min-height: 300px;
  }
}

@media (max-width: 600px) {
  #section-contact {
    padding-left: 2rem;
    padding-right: 2rem; 
  }
}

#map {
  margin: 0;
  min-width: 300px;
  height: 100%;
}

.contact-form {
  padding: 3% 10%;
}

@media (min-width: 1600px) {
  .contact-form {
    padding-right: 35%;
  }
}

label {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

input {
  height: 40px;
  width: 100%;
  border-color: transparent;
}

textarea {
  height: 200px;
  width: 100%;
  resize: none;
  background-color: white;
  border-color: transparent;
}

input[type=submit] {
  height: 80px;
  color: white;
  background-color: black;
  border: none;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}